@import "tailwindcss";

*{
    font-family: 'Winky Rough', sans-serif;
}

.bg-image-class {
    background-image: url('/Assets/images/pages-bg.png');
    background-size: cover;
    background-position: center;
    transform: translateY(100%);
}